.card-container{
    border: 1px solid black;
    height: 500px;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
}
.image-container{
    /* border: 1px solid black; */
    padding: 20px;
    /* border-radius: 10px; */
    height: 205px;
    border-bottom: 1px solid black;
}
